<launch>
  <arg name="prefix"/>
  <arg name="port"                              default="/dev/ttyDXL"/>
  <arg name="motor_configs"                     default="$(find vx300s_sdk)/config/motor_configs.yaml"/>
  <arg name="mode_configs"                      default="$(find vx300s_sdk)/config/mode_configs.yaml"/>

  <node
    name="$(arg prefix)vx300s_sdk"
    pkg="vx300s_sdk"
    type="vx300s_sdk"
    output="screen"
    >
    <param name="port"                            value="$(arg port)"/>
    <param name="prefix"                          value="$(arg prefix)"/>
    <param name="motor_configs"                   value="$(arg motor_configs)"/>
    <param name="mode_configs"                    value="$(arg mode_configs)"/>
    <param name="load_configs"                    value="true"/>
  </node>
</launch>
